In [4]:
import pandas as pd

Imported Pandas library

In [5]:
df = pd.read_csv("train_final_cleaned.csv")

Loaded Dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9800 non-null   int64
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: float64(1), int64(2), object(14)
memory usage: 1.3+ MB

Checked Dataset Info

In [7]:
# Check for basic statistics: lowest, highest, and average sales
lowest_sales = data['Sales'].min()
highest_sales = data['Sales'].max()
average_sales = data['Sales'].mean()

# Print the results
print(f"Lowest Sales: {lowest_sales}")
print(f"Highest Sales: {highest_sales}")
print(f"Average Sales: {average_sales:.2f}")

Lowest Sales: 0.444
Highest Sales: 22638.48
Average Sales: 230.77

Checked Lowest, Highest and Average Sales

In [8]:
# Group by 'Product Name' and sum the sales for each product
product_sales = df.groupby('Product Name')['Sales'].sum().reset_index()

# Sort the products by total sales in descending order
product_sales = product_sales.sort_values(by='Sales', ascending=False)

# Print the table
print(product_sales)

                                           Product Name      Sales
398               Canon Imageclass 2200 Advanced Copier  61599.824
649   Fellowes Pb500 Electric Punch Plastic Comb Bin...  27453.384
444   Cisco Telepresence System Ex90 Videoconferenci...  22638.480
826        Hon 5400 Series Task Chairs For Big And Tall  21870.576
685          Gbc Docubind Tl300 Electric Binding System  19823.479
...                                                 ...        ...
84                    Acme Serrated Blade Letter Opener      7.632
783                                 Grip Seal Envelopes      7.072
1799                                           Xerox 20      6.480
208                                             Avery 5      5.760
604   Eureka Disposable Bags For Sanitaire Vibra Gro...      1.624

[1849 rows x 2 columns]

Product-wise Total Sales

In [9]:
# Group by 'Product Name' and sum the sales for each product
product_sales = df.groupby('Product Name')['Sales'].sum().reset_index()

# Sort the products by total sales in descending order and select the top 10
top_10_products = product_sales.sort_values(by='Sales', ascending=False).head(10)

# Print the top 10 products with their total sales
print("Top 10 Products with Highest Sales:")
print(top_10_products)

Top 10 Products with Highest Sales:
                                          Product Name      Sales
398              Canon Imageclass 2200 Advanced Copier  61599.824
649  Fellowes Pb500 Electric Punch Plastic Comb Bin...  27453.384
444  Cisco Telepresence System Ex90 Videoconferenci...  22638.480
826       Hon 5400 Series Task Chairs For Big And Tall  21870.576
685         Gbc Docubind Tl300 Electric Binding System  19823.479
687   Gbc Ibimaster 500 Manual Proclick Binding System  19024.500
796               Hewlett Packard Laserjet 3310 Copier  18839.686
877  Hp Designjet T520 Inkjet Large Format Printer ...  18374.895
682          Gbc Docubind P400 Electric Binding System  17965.068
804        High Speed Automatic Electric Letter Opener  17030.312

In [10]:
# Group by 'Postal Code' and sum the sales for each postal code
postal_sales = data.groupby('Postal Code')['Sales'].sum().reset_index()

# Sort the postal codes by total sales in descending order and select the top 10
top_10_postal = postal_sales.sort_values(by='Sales', ascending=False).head(10)

# Print the top 10 postal codes with their total sales
print("Top 10 Destinations by Postal Code (Based on Sales):")
print(top_10_postal)

Top 10 Destinations by Postal Code (Based on Sales):
     Postal Code      Sales
54         10024  78534.044
55         10035  75151.829
52         10009  53225.076
575        94122  49114.375
53         10011  45551.598
616        98105  41838.008
617        98115  41160.908
80         19134  39390.293
148        32216  39133.328
516        90049  37889.924

In [11]:
# Group by 'Customer ID' and count the number of purchases for each customer
customer_frequency = df.groupby('Customer ID').size().reset_index(name='Purchase Count')

# Sort the customers by purchase count in descending order and select the top 10
top_10_customers = customer_frequency.sort_values(by='Purchase Count', ascending=False).head(10)

# Print the top 10 frequent buyers with their purchase counts
print("Top 10 Frequent Buyers by Customer ID:")
print(top_10_customers)

Top 10 Frequent Buyers by Customer ID:
    Customer ID  Purchase Count
787    WB-21850              35
606    PP-18955              34
482    MA-17560              34
387    JL-15835              33
147    CK-12205              32
720    SV-20365              32
349    JD-15895              32
44     AP-10915              31
791    ZC-21910              31
275    EP-13915              31

Exploratory Data Analysis was performed on the chosen Dataset.